.mainNavbarDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.mainNavbarDiv>*{
    text-wrap: nowrap;
}

.linksNavbarDiv{
    display: flex;
    flex-direction: row;
}

.navbarLink{
    padding-right: 10px;
}

@media screen and (max-width: 768px) {
    .mainNavbarDiv{
        flex-direction: column;
    }
}

.active {
    color: var(--color2);
    text-shadow: 0px 0px 5px;
    filter: blur(0.77px);
}