.ProjectsListDiv{
    display: flex;
    flex-direction: column;
}

.infoBarProjects{
    background-color: var(--color1);
    color: var(--color4);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}