.mainLayoutBody{
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 768px){
    .mainLayoutBody{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 400px){
    .mainLayoutBody{
        padding-left: 15px;
        padding-right: 15px;
    }
}